{% extends "general_base.html" %}
{% block page_content %}
    {% if user.is_authenticated %}
        <div class="container mt-2">
            <div class="row my-3 ">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="link-body-emphasis" href="#"><i class="bi bi-layout-text-window-reverse"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Approved Task</li>
                        </ol>
                    </nav>
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'list_submitted_tasks' %}">Submitted Tasks</a>
                </div>
            </div>
            {% include "tasks/includes/search_filter.html" %}
            {% if approved_tasks %}
                <table class="table table-striped table-hover table-sm table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Sl.No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Status</th>
                            <th scope="col">Assigned By</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for task in approved_tasks %}
                            <tr class="text-center clickable-row" data-href="{% url 'task_detail' task.id %}">
                                <td>{{ forloop.counter }}</td>
                                <td class="text-start">
                                    {{ task.title|capfirst|slice:":30" }}
                                    {% if task.title|length > 30 %}...{% endif %}
                                </td>
                                <td>{{ task.get_priority_display }}</td>
                                <td>{{ task.get_status_display }}</td>
                                <td class="text-center">{{ task.assigned_by }}</td>
                                <td class="text-start">
                                    {% for username in task.assigned_to_names %}
                                        <span class="badge user-name-badge rounded-pill bg-primary me-1">{{ username }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ task.created_at }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>
                                    <a href="{% url 'task_detail' task.id %}"><i class="bi bi-eye"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include "pagination.html" %}
            {% else %}
                <div class="alert alert-info text-center" role="alert">No Task Pending Approvel !</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock page_content %}
