<div class="card p-2 my-2">
    <form method="get" class="row align-items-end mb-2">
        <!-- Title Filter -->
        <div class="form-group col-2">
            <label for="priority">Title</label>
            <input type="text"
                   name="title"
                   class="form-control form-select-sm"
                   placeholder="Title"
                   value="{{ title_filter }}">
        </div>
        <!-- Priority Filter -->
        <div class="form-group col-2">
            <label for="priority">Priority</label>
            <select id="priority" name="priority" class="form-select form-select-sm">
                <option value="">Select Priority</option>
                {% for priority_value, priority_name in priority_choices %}
                    <option value="{{ priority_value }}"
                            {% if request.GET.priority == priority_value %}selected{% endif %}>
                        {{ priority_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- Status Filter -->
        <div class="form-group col-2">
            <label for="status">Status</label>
            <select id="status" name="status" class="form-select form-select-sm">
                <option value="">Select Status</option>
                {% for status_value, status_name in status_choices %}
                    <option value="{{ status_value }}"
                            {% if request.GET.status == status_value %}selected{% endif %}>{{ status_name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Assigned To Filter -->
        <div class="form-group col-2">
            <label for="assigned_to">Assigned To</label>
            <select id="assigned_to"
                    name="assigned_to"
                    class="form-select form-select-sm">
                <option value="">Select User</option>
                {% for user_id, username in assigned_to_choices %}
                    <option value="{{ user_id }}"
                            {% if user_id|stringformat:"s" in selected_assigned_to %}selected{% endif %}>
                        {{ username }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <!-- Due Date Sorting -->
        <div class="form-group col-2">
            <label for="due_date_sort">Sort by Due Date</label>
            <select id="due_date_sort"
                    name="due_date_sort"
                    class="form-select form-select-sm">
                <option value="">Sort by Due Date</option>
                {% for value, label in due_date_sort_options %}
                    <option value="{{ value }}"
                            {% if request.GET.due_date_sort == value %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Filter and Reset Buttons -->
        <div class="form-group col-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary w-75 me-1 btn-sm">Filter</button>
            <a href="{% url 'task_list' %}" class="btn btn-danger btn-sm">Clear</a>
        </div>
    </form>
</div>
