{% load static %}
<div class="p-3 sidebar">
    <a href="#"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-md-inline">Task Management</span>
    </a>
    <div class="text-center mt-3">
        <div class="mx-auto border-primary">
            {% if user.profile_picture %}
                <img src="/media/{{ user.profile_picture }}"
                     alt="profile_picture"
                     width="100px"
                     height="100px"
                     id="profile-picture"
                     class="rounded-circle">
            {% else %}
                <img src="/media/profile_pictures/user_default.png"
                     alt="profile_picture"
                     width="100px"
                     height="100px"
                     id="profile-picture"
                     class="rounded-circle">
            {% endif %}
            <p class="fw-bold text-white mt-2 mb-0 pb-0">{{ user.username | capfirst }}</p>
            <p class="fw-lighter text-white m-0 p-0">{{ user.role.name | capfirst }}</p>
            <p class="fw-lighter text-white m-0 p-0">{{ user.role.get_type_display | title }}</p>
        </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link p-1 mx-1 text-white" href="{% url 'task_list' %}"><i class="bi bi-list-task"></i><span class="d-none d-md-inline ms-1">Tasks</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 mx-1 text-white" href="{% url 'list_submitted_tasks' %}"><i class="bi bi-file-earmark-check-fill"></i><span class="d-none d-md-inline ms-1">Submitted Tasks</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 mx-1 text-white" href="{% url 'list_approved_tasks' %}"><i class="bi bi-check2-circle"></i><span class="d-none d-md-inline ms-1">Approved Tasks</span></a>
        </li>
        <hr>
    </ul>
</div>
